<div class="group-row">
  <div id="top" class="row">
    <div class="col-md-12">
      <h1>One of our Albums: {{item.naamAlbum}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Artist: {{item.zanger}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img id="cover" src="{{item.cover}}" alt="random cover logo">
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 text-center custom">
    <p>
      Welcome to the webshop Record Music. <br>
      Here we sell the best vinyl records for you to listen to.
    </p>
    </div>
  </div>
</div>
