.card-body{
  padding: 0;
  width: 480px;
  height: 480px;
}

.custom{
  background-color: #018284;
  border-color: #018284;
  transition: background-color 0.4s;
  padding-top: 10px;
}
.custom:hover{
  background-color: #01A3A6;
}

button{
  margin-top: 10px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}

img{
  width: auto;
  height: 300px;
  max-width: 460px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3,h5,p{
  color: black;
  text-align: center;
}

h5{
  margin-top: 10px;
}

p{
  margin-bottom: -5px;
}

@media screen and (max-width: 767px) {

  .card-body{
    padding: 0;
    width: 380px;
    height: 480px;
    margin-top: 20px;
  }
  /*
  #inner{
    display: table;
    margin: 0 50% 0 auto;
  }
  */


  .card-body>img{
    width:auto;
    height: 150px;
    max-width: 150px;
    display:block;
    margin:auto;
  }

  /*.card-body{
    text-align: center;
    display:block;
    margin:auto;
  }*/
/*  button{
    margin-top: 10px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
  }*/

}

